<div class="address-container" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayoutAlign="stretch">
      <mat-card>
        <mat-card-content>
          <img src="assets/images/invoice.jpg" alt="Invoice">
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="form-container">
        <mat-card-content>
          <div>
            <b>
              Billing Info
            </b>
            <form [formGroup]="addressForm">
              <div>
                <mat-form-field>
                  <mat-label>Your Name</mat-label>
                  <input type="text" matInput formControlName="name" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Your Email</mat-label>
                  <input type="text" matInput formControlName="email" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Your Phone Number</mat-label>
                  <input type="text" matInput formControlName="phone" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Your Address</mat-label>
                  <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
              </div>
              <div fxLayoutAlign="end">
                <button color="accent" [disabled]="addressForm?.invalid" mat-raised-button
                  (click)="submit()">Submit</button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>