<mat-toolbar class="toolbar" color="accent">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Enlight</span>
</mat-toolbar>

<div class="side-nav-container">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav mode="side" opened>
      <div fxLayout="column" fxLayoutAlign="center start">
        <button mat-button [routerLink]="routesEnum.BOOKS">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
        <button mat-button [routerLink]="routesEnum.CART_LIST">
          <mat-icon [matBadge]="cartCount" matBadgeColor="accent" matBadgePosition="before">shopping_cart</mat-icon>
          <span>Cart</span>
        </button>
        <button mat-button [routerLink]="routesEnum.BOOK_COLLECTION">
          <mat-icon [matBadge]="collectionCount" matBadgeColor="accent" matBadgePosition="before">library_books
          </mat-icon>
          <span>My Collection</span>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
