<div class="card-container" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" *ngFor="let book of books | async;let index = index">
    <mat-card (click)="onBookSelection(book.id)">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <b>{{ book?.volumeInfo?.title }}</b>
          <span>{{ book?.volumeInfo?.subtitle }}</span>
        </div>
        <img class="book-logo" [src]="book?.volumeInfo?.imageLinks?.smallThumbnail" alt="Book" />
      </div>
      <mat-card-content class="card-content-container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <p>{{ book?.volumeInfo?.description || 'Description not available'}}</p>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <span class="font-bold-500">Written By:</span>
                <div>
                  {{ book?.volumeInfo?.authors?.toString() | titlecase }}
                </div>
              </div>
              <div *ngIf="cartBookView">
                <mat-icon class="delete-cart-cursor" (click)="removeBook(book)">remove_shopping_cart</mat-icon>
              </div>
            </div>

            <div *ngIf="cartCollectionView && billingAddress" class="address-container">
              <div class="font-bold-500">Billing Address</div>
              <div *ngFor="let obj of billingAddress | async | keyvalue : objectSortOrderFn">
                <span class="font-bold-500">{{obj.key | titlecase}}:</span>
                <span>
                  {{ obj?.value | titlecase }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="cartBookView && (books | async)?.length" class="purchase-btn" fxLayout="row" fxLayoutAlign="start">
  <button color="accent" mat-raised-button (click)="proceedToPurchase()">Procced To Purchase</button>
</div>
