/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-bold-500{
    font-weight: 500;
}
.card-content-container{
    font-size: 12px;
}

.book-logo {
    width: 10%;
    height: 10%;
    max-width: 10%;
    max-height: 10%;
  }

button {
    font-size: 12px !important;
    margin-right: 10px !important;
}